[submodule "themes/zenware"]
	path = themes/zenware
	url = https://github.com/zenware/gohugo-theme-zenware.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
